#
# The authors of this file have waived all copyright and
# related or neighboring rights to the extent permitted by
# law as described by the CC0 1.0 Universal Public Domain
# Dedication. You should have received a copy of the full
# dedication along with this file, typically as a file
# named <CC0-1.0.txt>. If not, it may be available at
# <https://creativecommons.org/publicdomain/zero/1.0/>.
#

name: docker

on:
  workflow_call:
    inputs:
      model:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  # This job prevents Docker Hub from deleting our current image due to
  # inactivity, in case we keep failing to build and push a new image
  # for a long time.
  keepalive:
    runs-on: ubuntu-latest
    steps:
      - name: Pull current image
        id: tag
        run: |
          set -E -e -o pipefail -u -x || exit $?
          trap exit ERR

          # Free up some disk space.
          df -h
          for x in \
            /opt/ghc \
            /opt/hostedtoolcache/CodeQL \
            /usr/local/lib/android \
            /usr/share/dotnet \
          ; do
            sudo rm -f -r $x
            df -h
          done

          name=docker.io/quinngrier/qtts-${{ inputs.model }}
          docker pull $name

  build:
    needs: keepalive
    runs-on: ubuntu-latest
    steps:
      - name: Construct image tag
        id: tag
        run: |
          set -E -e -o pipefail -u -x || exit $?
          trap exit ERR
          tag=$(date +%Y-%m-%d)-$GITHUB_RUN_ID
          echo tag=$tag >>$GITHUB_OUTPUT
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build and push candidate image
        uses: docker/build-push-action@v4
        with:
          context: models/${{ inputs.model }}
          push: true
          tags: docker.io/quinngrier/qtts-${{ inputs.model }}:${{ steps.tag.outputs.tag }}-rc
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run test script
        run: |
          set -E -e -o pipefail -u -x || exit $?
          trap exit ERR

          # Free up some disk space.
          df -h
          for x in \
            /opt/ghc \
            /opt/hostedtoolcache/CodeQL \
            /usr/local/lib/android \
            /usr/share/dotnet \
          ; do
            sudo rm -f -r $x
            df -h
          done

          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get -q -y update
          sudo apt-get -q -y install ffmpeg
          name=docker.io/quinngrier/qtts-${{ inputs.model }}
          tag=${{ needs.build.outputs.tag }}
          input="The quick brown fox jumped over the lazy dog."
          model=${{ inputs.model }}
          eval export QTTS_${model@U}_IMAGE=$name:$tag-rc
          ./qtts \
            --model $model \
            --output output.ogg \
            "$input" \
          ;
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: output.ogg
          path: output.ogg

  push:
    if: github.ref == 'refs/heads/main'
    needs:
      - build
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Pull candidate image
        run: |
          set -E -e -o pipefail -u -x || exit $?
          trap exit ERR
          name=docker.io/quinngrier/qtts-${{ inputs.model }}
          tag=${{ needs.build.outputs.tag }}
          docker pull $name:$tag-rc
      - name: Tag final images
        run: |
          set -E -e -o pipefail -u -x || exit $?
          trap exit ERR
          name=docker.io/quinngrier/qtts-${{ inputs.model }}
          tag=${{ needs.build.outputs.tag }}
          docker tag $name:$tag-rc $name:$tag
          docker tag $name:$tag-rc $name:latest
      - name: Push final images
        run: |
          set -E -e -o pipefail -u -x || exit $?
          trap exit ERR
          name=docker.io/quinngrier/qtts-${{ inputs.model }}
          tag=${{ needs.build.outputs.tag }}
          docker push $name:$tag
          docker push $name:latest
